@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

.ExitButton {
  background-color: black;
  color: white;
  border-radius: 2vw;
  width: 2.5vw;
  height: 2.5vh;
  margin-right: 0.5vw;
  margin-top: 1vh;
  text-align: center;
  line-height: 3vh;
  float: right;
}

.ExitButton:hover {
  opacity: 0.8;
  cursor: pointer;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transform: scale(1.03);
  transition: 150ms linear;
}

label {
  font-weight: 500;
  width: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 4%;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  margin-left: 5%;
  margin-bottom: 10%;
  width: 88%;
  height: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.1vw;
}
textarea {
  width: 88%;
  height: 30%;
  margin-left: 5%;
  font-size: 1.1vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  margin-left: 25%;
  margin-top: 5%;
  border: none;
  height: 10%;
  width: 50%;
  border-radius: 1vw;
  background-color: #de624a;

  font-weight: 900;
  font-size: 1vw;
  color: black;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transform: scale(1.03);
  transition: 150ms linear;
}

.Headtitle {
  margin-top: 2vh;
  width: 30%;
  height: 5%;
  font-weight: 200;
  font-size: 2vw;

  margin: auto;
}

.Msg {
  margin-left: 5%;
  margin-bottom: 5%;
  width: 50%;
}

.Errors {
  margin-left: 5%;
  color: red;
  width: 50%;
  float: right;
}

.Return {
  border: solid;
  text-decoration: none;
  color: white;
  background-color: #ffb672;
}

.MessageHolder {
  width: 100vw;
  height: 100vw;
  background-color: #151515;
  color: white;
}
